@import url('https://fonts.googleapis.com/css?family=Poppins%3A400%2C300%2C700%7COpen+Sans%3A400%2C600%2C700%2C300%7CRoboto%3A400%2C500%2C700%2C300%7CPoppins%3A400%2C600&amp;display=swap&amp;ver=11.5.1');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
}
button {
    cursor: pointer;
}

body {
    background: url('https://raw.githubusercontent.com/grimeo/twelve/main/imgs/front-bg.jpg');
    object-fit: cover;
    color: whitesmoke
}
#quiz-maker-header{
    cursor: pointer;
    text-align: center;
    padding: 20px;
}

.head1 {
    position: absolute;
    top: 40%;  
    left: 49.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #f6f4e6;
  }
  
  .navMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .navMenu a {
    text-align: center;
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: lowercase;
    font-weight: 500;
    display: inline-block;
    width: 80px;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #3c6e71;
  }
  
  .navMenu .dot {
    width: 6px;
    height: 6px;
    background: #f6f4e6;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(37px);
    transform: translateX(37px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(37px);
    transform: translateX(37px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(121px);
    transform: translateX(121px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(206px);
    transform: translateX(206px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(287px);
    transform: translateX(287px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
#main-container{
    display:none;
    width:940px;
    height: auto;
    margin: auto;
}

#err-question-input{
    display:none;
    text-align: center;
    font-size: 18px;
    color: #e0d7d7;
    background-color: #8b1919;
    border: 1px solid red;
    animation : show-err .1s linear;
}
    @keyframes show-err {
        100% {
            font-size: 20px;
        }
    }

#question-input{
    display: block;
    font-size: 18px;
    background-color: #ffffffbe;
    color: #1b1b1b;
    /* outline: none; */
    caret-color: green;
    width: 750px;
    height: 180px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    padding: 20px;
    margin: auto
}

#choices-header{
    text-align: center;
    padding: 20px;
}
#choice-container{
    display: block;
    width: 600px;
    height: 270px;
    border-radius: 10px;
    border: 3px solid #afafaf;
    transform: translate3d(calc(calc(940px - 600px) / 2), 0, 0);
    margin:20px 0; 
}
    #multiple-choice-section{
        display: block; 
    }
    .input-answer{
        display: inline-block;
        margin-left: 65px;
        margin-bottom: 20px;
        width: 200px;
        font-size: 18px;
        background-color: transparent;
        border-radius: 10px;
        padding: 5px 10px;
        color: whitesmoke;
        outline: none;
        border: 1px solid whitesmoke
    }
    #mult-correct-ans{
        display: block;
        width: 200px;
        margin: auto;
        margin-bottom: 20px;
        font-size: 18px;
        background-color: transparent;
        border-radius: 10px;
        padding: 5px 10px;
        color: whitesmoke;
        outline: none;
        border: 1px solid whitesmoke
    }

#question-to-edit-id{
    color: transparent;
}   
#edit-gui{
    width: 600px;
    height: 400px;
    /* border: 3px solid #85f36ac0; */
    border-radius: 15px;
    background-color: #788585;
    /* background: url('https://raw.githubusercontent.com/grimeo/CheeseQuiz/main/space.jpg'); */
    position: fixed;
    display: none;
    z-index: 100;
    transform: translate3d(calc(calc(100vw - 618px) / 2),
        calc(calc(100vh - 400px) / 2 ), 0);
    animation: show-edit-gui .2s linear forwards;
}
@keyframes show-edit-gui {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
    #edit-header{
        text-align: center;
        padding: 20px;
        background-color: transparent;
    }
    #edit-textarea{
        display: block;
        width: 400px;
        height: 100px;
        border: 2px solid black;
        background-color: whitesmoke;
        border: 2px solid whitesmoke;
        color: #272727;
        padding: 10px;
        border-radius: 10px;
        font-size: 18px;
        margin: 0 auto;
    }

    #edit-a1,
    #edit-a2,
    #edit-a3,
    #edit-a4{
        display: inline-block;
        width: 150px;
        margin-top: 20px;
        margin-left: 98px;;
        padding: 5px 10px;
        border-radius: 15px;
        border: 2px solid black;
        color: #284b63;
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
    }

    #edit-mult-correct-ans{
        display: block;
        margin: 20px auto;
        width: 150px;
        padding: 5px 10px;
        border-radius: 15px;
        color: black;
        text-align: center;
        font-weight: bolder;
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
    }
    #cancel-edit-btn,
    #save-edit-btn{
        display:inline-block;
        text-align: center;
        width: 70px;
        font-size: 15px;
        border: 1px solid gray;
        padding:5px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    #cancel-edit-btn{
        margin-left: 20px;
        background-color: #9e2a2b;
        color: whitesmoke;
    }
    #cancel-edit-btn:hover{
        background-color: #ce373a;
    }
    #save-edit-btn{
        margin-left: 400px;
        background-color: #38302E;
        color: whitesmoke;
    }
    #save-edit-btn:hover{
        color: white;
        background-color: #1d1918;
    }

.edit-btn,.del-btn{
    display: inline-block;
    width: 100px;
    font-size: 18px;
    padding: 5px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.edit-btn{
    margin-left: 310px;
    color: white;
    background-color: #2384df;
}
.edit-btn:hover{
    background-color: #1d5b96;
}
.del-btn{
    margin-left: 30px;
    color: white;
    background-color: #d83232;
}
.del-btn:hover{
    background-color: #921f1f;
}

#add-btn{
    width:200px;
    font-size: 18px;
    background-color: #39df23;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    display: block;
    margin:20px auto
}
#add-btn:hover{background-color: #7add6d;}

#questions-container{
    width: 900px;
    margin: auto;
    padding: 20px;
}
    .question-container{
        width: 100%;
        height: auto;
        border: 2px solid whitesmoke;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: transparent;
    }
        .question{
            width: 95%;
            height: 100px;
            padding: 20px;
            color: #1b1b1b;
            background-color: rgba(245, 245, 245, 0.781);
            border: 1px solid whitesmoke;
            border-radius: 10px;
            margin: 20px auto
        }
.choices-container{
    display: block;
    width:95%;
    height: 150px;  
    margin: 10px auto;
    padding: 20px;
}
    .choices{
        text-align: center;
        width: 30%;
        padding: 10px;
        display: inline-block;
        background-color: transparent;
        margin-left: 100px;
        margin-bottom: 20px;
        border-radius: 10px;;
        border: 1px solid whitesmoke;
}
#preview-btn{
    display: none;
    width: 120px;
    height: auto;
    color: white;
    background-color: #369b8d;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    border: none;
    font-size: 20px;
}

#quiz-compiler{
    display: none;
    position: relative;
    width: 940px;
    height: 3000px;
    margin: auto;
    border: 1px solid red;
    animation: compile-question .2s linear forwards;
}
    @keyframes compile-question {0%{opacity: .4} 100%{opacity: 1}}

    .compiled-q-cont{
        margin-top: 20px;
        width: 90%;
        height: auto;
        margin: auto;
        border: 1px solid green;
        display: block;
        margin-bottom: 30px;
    }
        .compiled-q{
            padding: 20px;  
            border: 1px solid red;
            font-size: 20px;
        }
        .compiled-choices{
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            width: 400px;   
            font-size: 18px;
            padding: 10px;
            border: 1px solid white;
            margin: 10px;
            border: 1px solid whitesmoke;
            border-radius: 50px;
        }

        #submit-btn{
            display: block;
            width:90%;
            border: none;
            border-radius: 20px;
            margin: 0 auto;
            color: black;
            font-size: 22px;
            background: #19f519;
            padding: 10px;
        }

#submit-notice {
    display: none;
    position: fixed;
    width: 600px;
    color: #1b1b1b;
    z-index: 10;
    height: 220px;
    border-radius: 20px;;
    background-color: #f6f4e6;
    border: none;
    overflow: hidden;
    -ms-transform: translate3d(calc(calc(100vw - 600px) / 2),
        calc(calc(100vh - 220px) / 2),
        0);
    transform: translate3d(calc(calc(100vw - 600px) / 2),
        calc(calc(100vh - 220px) / 2),
        0);
}
    #submit-notice h2{
        text-align: center;
        background-color: #1b1b1b;
        color: whitesmoke;
        padding: 20px;
    }
    #submit-notice p{
        padding: 20px;
    }
    #cancel-submit-quiz,#submit-quiz-btn{
        display:inline-block;
        vertical-align: top;
        border-radius: 5px;
        

    }
    #cancel-submit-quiz{
        width: 100px;
        padding: 5px;
        font-size: 17px;
        margin-left: 15px;
        background-color: #c9c8c8;
        border:  none;
    }

    #cancel-submit-quiz:hover {
        background-color: #b3b2b2;
    }
    #submit-quiz-btn{
        width: 100px;
        padding: 5px;
        font-size: 17px;
        margin-left: 350px;
        border: none;
        background-color: #5fe250;
    }
    #submit-quiz-btn:hover{
        background-color: #43ce33
    }

#score-panel {
    position: fixed;
    display: none;
    z-index: 10;
    width: 500px;
    height: 230px;
    color: #1b1b1b;
    background-color: whitesmoke;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    transform: translate3d(calc(calc(100vw - 500px) / 2),
        calc(calc(100vh - 230px) / 2),
        0);
}
    #score-panel h2{
        text-align: center;
        font-size: 40px;
        background-color: #1b1b1b;
        color: whitesmoke;
    }
    #score-p{
        padding: 10px 20px;
        font-size: 20px;
    }
    #retake-p{
        padding: 20px;
        font-size: 18px;
    }
    #restart-btn, #menu-btn{
        display: inline-block;
        vertical-align: top;
        border: none;
        border-radius: 3px;
    }
    #restart-btn{
        width: 120px;
        padding: 5px;
        margin-left: 230px;
        background-color: #19f519;
        font-size: 18px;
    }
    #menu-btn{
        background-color: #bebebe;
        width: 120px;
        margin-left: 10px;
        padding: 5px;
        font-size: 18px;
    }